## Séance 2 :
**Python fonctionne avec des varibales qui peuvent etre de plusieurs natures / Types**


 **On retrouve deux grandes familles : les variables dites unitaires et les variables multiples**

## Les variables unitaires : 
On retrouve trois types de varaibles unitaires : 2 numériques et une textuelle

In [1]:
#integer int -> Un nombre entier
#float float -> Un nombre flottant ou à virgule 
#string str -> Une chaine de caractere ou plus simple un mot un phrase

### Les integers :

In [4]:
# integer = nombre entier
a = 2 # On attribuer a une variable, ici 'a' un nombre entier

In [7]:
a # l'afficher ici

2

In [ ]:
print(a) # ou encore ici avec la fonction print

In [8]:
int1 = 2 # Néanmoins il est important de choisir des noms de variables qui ont du sens, ici a est peu informatif sur ce que continent cette variable
# int1 est déja un nom plus clair et précis pour eviter de se mélanger les pinceaux dans un plus gros code

In [9]:
type(int1) # La fonction type comme montré ici et noté type(), permet de demander d'afficher la nature d'une variable
# Ici on s'assure que int1 est bien un integer et donc un nombre entier

int

### Les nombres flottant ou float :

In [10]:
# float = nombre à virgule
float1 = 3.2 # La virgule en Python comme dans beaucoup de language de programmation se note avec un point

In [11]:
type(float1) # De la même maniere on peu venir vérfier le type d'une variable flottante

float

In [13]:
float2 = float(int1) # Mais float() est aussi une fonction / class en Python permettant d'imposer le changement de type d'une varibale en une autre
# ici on transforme int1 en un nombre a virgule 

# Cela peut etre important dans certaines fonction et permet d'etre sur d'utiliser toujours des variables d'un même type

In [14]:
type(float2)

float

In [16]:
print(type(float2))

<class 'float'>

In [17]:
int(float2)

2

In [20]:
float3 = 3.7

In [21]:
int(float3) # Passer d'un nombre flottant à un integer, ne revient pas exactement a arrondir mais simplement de ne prendre que la portion entiere

3

In [ ]:
### Chaine de caracteres ou String :

In [ ]:

# Pour definir un string en Python on utilise : " " ou ' ' 
# Les deux formes de guillements fonctionnent, même si je vous conseille de privilegier les doubles guillements.

In [22]:
str1 = "Hello world" # on definit sa chaine de caractere comme ceci en mettant le mot ou la phrase entre les guillements. 
# La phrase peut etre aussi longue que vous le voulez

In [23]:
float1
float2
# si je veux afficher deux variables et meme de facon general il est plus rigoureux d'utiliser la fontion print()

2.0

In [24]:
print(float1, float2) # ici on montre bien que les deux variables s'affichent correctement l'une apres l'autre

3.2 2.0

In [25]:
print(str1) # La fonction print permet egalement de faire afficher les Chaines de caracteres

Hello world

In [27]:
str2 = "20"
print(str2) # Une chaine caractere peut contenir des nombres qui seront consideré comme des chaines de caractère à part entiere et non pascomme des nombres

20

## Formalisme de calcul

In [28]:
# Vous vous en doutiez déja mais il evidement possible de faire des calcul en Python, et voici les symboles mathématiques classiques :

# + addition
# - soustraction
# / division
# * multiplication
# ** puissance

In [29]:
nbr1 = 10
nbr2 = 20
nbr3 = 2.5

print(nbr1 + nbr2) # on peut faire des calcul entre des int

30

In [30]:
print(nbr1 + nbr3) # On peut faire des calcul avec des int et des float

12.5

In [92]:
nbr4 = "4"
print(nbr4)

4

In [93]:
print(nbr1 + nbr4) # Néanmoins on ne peut pas directement faire des calcul entre des int/float et des str, même si il s'agit d'un nombre

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
print(nbr1 + int(nbr4)) # Pour pouvoir y arriver il faut imposer le passage d'un str vers une variable numérique

14

In [39]:
nbr5 = 7
nbr6 = 10

In [40]:
print(nbr6 / nbr5) # Permet de faire une division tout ce qu'il y a de plus classique

1.4285714285714286

In [41]:
print(nbr6 // nbr5) # Permet de faire calculer le quotient d'un division Euclidienne

1

In [42]:
print(nbr6 % nbr5) # Permet de calculer le reste d'un division Euclidienne

3

## Les variables multiples

**De facon comparable aux variables unitaires, il existe trois sortes / types de variables multiples ou réservoirs**

In [43]:
# list
# tuple
# dictionnaire

### Les lists :

In [96]:
# Une list peut se definir de deux façons differentes, que ce soit en spécifiant directement list ou en utilisant les crochets [].
# Le plus rapide et simple etant les crochets 
list1 = list((1, 2, 3, 4))
list2 = [1, 2, 3, 4]

In [94]:
type(list1) # On peut de la même maniere verifier la nature de ces variables et s'assurer qu'il sagit bien d'une list

list

In [49]:
print(type(list2))

<class 'list'>

**Comme exprimé implicitement les variables mutliples ont pour interet de stocker plusieurs variables, mais surtout de pouvoir les retrouver**

**Pour poivoir retrouver les variables au sein d'une list et travailler avec il faut savoir indexer leur position**

In [50]:
print(list1[0]) # La premiere varibale à la position 0 contrairement à R ou la premiere est à la position 1. 
# Faire attention à ce point pour eviter des erreurs

1

In [51]:
print(list1[2]) # ici on afficher l'element à la position 2 soit le 3ème de la list

3

In [52]:
print(list1[-1]) # avec un symbole - on peut dire d'aller chercher un element dans la liste en partant de la fin 

# Ainsi index -1 ira chercher la derniere variable

4

In [53]:
print(list1[-2]) # et -2 ira chercher l'avant derniere et ainsi de suite

3

In [54]:
print(list1[0])

1

In [99]:
print(list1[0:3]) # On peut egalement indexer sur un distance dans le vecteur, ici on demande de prendre le position 0 à la position 3max

[1, 2, 3]

In [100]:
print(list1[0:3:2]) # Ou ici venir en plus imposer un pas / saut. On ne peut qu'une variable sur 2 entre celle de position 0 et celle de position 3

[1, 3]

In [58]:
print(list1 + list2) # Néanmoins un point important est que les lists ne permettent pas de faire des calcul. 
# L'addition de ces deux lists ne donnent pas [2, 4, 6, 8] mais [1, 2, 3, 4, 1, 2, 3, 4]. 
# Les deux list ont été fusionnée

[1, 2, 3, 4, 1, 2, 3, 4]

In [61]:
list1[0] = 10 # On peut en plus d'une indexation pour recuperer une variable à une certaine positon venir la changer
# ici on vient attribuer à la variable en positon 0 une nouvelle valeur

In [62]:
print(list1) # Ici on voit le changement

[10, 2, 3, 4]

In [63]:
list1.pop() # Pop() seul permet de faire sortir la denriere variable de list

4

In [64]:
list1 # Ici on voit le changement

[10, 2, 3]

In [104]:
list1.append(4) # la fonction append() permet d'ajouter une varibale à la fin d'une list

In [101]:
list1.append(str1) # Les list peuvent contenir aussi bien des variables numeriques que textuelles

In [102]:
list1

[1, 2, 3, 4, 'Hello world']

In [105]:
list1.pop(0) # La fonction pop() peut prendre comme argument la position d'un element a retirer, comme ici retirer l'element à la positon 0

2

In [68]:
list1.remove(2) # Ne pas confondre pop est remove(). La fonction remove elle retire une varibale precise par une positon
# Ici remove(2) va enlever la variable 2. Et même plus précisement retirer toutes les varibales 2 d'une list

In [ ]:
print(list1) # On retire la variable 2

In [107]:
list1.remove("Hello world")

In [108]:
print(list1) # ici on retire "Hello world"

[3, 4, 4]

#### Le plus gros interet des lists est de pouvoir etre agrementé au fur et à mesure. On peut notament pour ca creer des lists vides

In [112]:
list3 = [] # ici on crée un list vide

In [113]:
print(list3)

[]

In [114]:
list3.append(4)

In [ ]:
print(list3)

### Les tuples :

In [116]:
# Les tuples se definissen deux manieres soit :
tuple1 = (1, 2, 3)
tuple2 = tuple((1, 2, 3))

In [117]:
print(tuple1, tuple2)

(1, 2, 3) (1, 2, 3)

In [118]:
type(tuple1)

tuple

In [74]:
tuple1[0] # Les tuples sont à la maniere des list indexable

1

In [75]:
tuple1[0] = 10 # Néanmoins ils sont immuables et ne peuvent etre changé. Il esy impossible de modifier les variables contenu dans un tuple

TypeError: 'tuple' object does not support item assignment

#### Variables Bool

In [76]:
# Boolean -> True or False 

list1 == list2 #identique ? on utilise deux egal ==

False

In [78]:
bool1 = (list1 != list2) #dif ? on utilise !=

In [ ]:
# > strictement supérieur 
# < strictement inferieur

# >= supérieur ou egal 
# <= inferieur ou egal

In [79]:
type(bool1)

bool

### Les dictionnaires

In [137]:
# Les dico se définissent avec les accolades {}
dico1 = {"Chien1" : "labrador" }

In [82]:
print(dico1)

{'Chien1': 'labrador'}

In [83]:
dico1["Chien1"] # On peur aller chercher la variable par son nom, ici Chien

'labrador'

In [84]:
param = {"stim" : 2, "V_repos" : -70} # Mais cela peut etre avec des variables plus concretes comme celle-ci dans le cadre d'un modele neuronal

In [138]:
print(param) # On peut afficher un dico

{'stim': 2, 'V_repos': -70}

In [87]:
#Et les varibles à l'interieur conservent leur nature / type 
type(param["V_repos"]) # ici on voit que V_repos est bien un nombre entier

int

In [139]:
# On peut comme avec les lists ou les tuples recuperer les variables d'un dico et les attribuer à d'autres 
Potentiel_repos = param["V_repos"] # Ici on  a extrait V_repos sous un autre nom

In [140]:
print(Potentiel_repos) # On peut ensuite l'afficher et l'utiliser pour d'autres calculs

-70